/* Add this in your global CSS file (e.g., App.css) */
.typing-animation {
  /* display: inline-block; */
  /* border-right: 3px solid #000; Cursor effect */
  padding-right: 5px;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* Add this in your global CSS */
.scale-up {
  transform: scale(1.2); /* Makes the logo scale up */
  opacity: 1; /* Ensures the element is visible */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.scale-up {
  transform: scale(1);
  opacity: 0.7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
